.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.pageHeader h2 {
  font-size: 40px;
  color: rgb(81, 163, 205);
}

.pageBody h3 {
  font-size: 25px;
  color: rgb(75, 198, 181);
}

.searchStyles input {
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 6px;
  border: 2px solid;
  height: 30px;
  width: 400px;
}

.tableStyles table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableStyles td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableStyles th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableStyles tr:nth-child(even) {
  background-color: #dddddd;
}
